{% extends 'basehtml.html' %}
{% load static %}
{% block content %}


  <div >

    <nav>
    <ul>
    <a href="{% url 'm_home' %}"><b>मुख्य पान  </b> </a>
    <a href="{% url 'sahitya' %}"><b> साहित्य  </b></a>
    <a href="{% url 'registerpage' %}"><b> नोंदणी करा  </b></a>
    <a href="{% url 'loginpage' %}"><b> लॉगिन  करा   </b></a>

    </ul>
    </nav>
  </div>
  <div>
    <img src="{% static 'images\annadan.png' %}" style="max-width:100%;height:auto;">
    <blockquote>
            प.पु.गुरुवर्य प्रा.श्री. अनिल वडाळकर यांनी परब्रम्ह श्री नृसिंह सरस्वती स्वामींकडुन एक मानव कल्याणाची गोष्ट मागुन घेतली ती म्हणजे प्रसादातुन मानवाच्या शारीरिक
             व्याधींचे निवारण व्हावे. त्यावर स्वामींनी लगेचच आशिर्वाद दिला. २०१५ पासुन मग या प्रसादालयाची सुरुवात झाली. अगदी पहिल्याच दिवशी एका मठातील सेवेकर्याची
             पोटदुखीची व्याधी अवघ्या दहा मिनिटात या प्रसादाच्या सेवनातुन झालेला अनुभव मठातील इतर सेवेकरी पाहुन थक्क झाले होते. हे गुरुचरित्र भाग दोन स्वामींनी सुरु केले
             असल्याची प्रचीती यावरुन येऊ शकते.या प्रसादातुन अनेकांच्या शारीरिक व्याधी दुर झाल्याची असंख्य उदाहरणे आहेत. <br>

           <br>या प्रसादालयाचे आणखी एक वैशिष्ट्य असे कि येथे स्वामी गुरुवर्यांना म्हणाले होते कि &quot; आधा हम करेंगे आधा तुम्हारा रहेंगा &quot;. हे कसे असेल. तर अर्ध्या
               लोकांच्या स्वयंपाकात पुर्ण लोक जेवतील असा स्वामींनी आशिर्वाद या प्रसादालयाला दिला आहे.आज येथे १०० लोकांचे जेवण बनवले जाते त्यात २०० ते २५० लोक जेवुन
               जातात. येथे साक्शात अन्नपुर्णा माता शेवटपर्यंत असतात.असा हे साक्षात स्वामींच्या थेट नियंत्रणाखाली चालणारे अदभुत प्रसादालय आहे.या प्रसादालयासाठी भावीक भक्त
               यथाशक्ती आपले आर्थीक योगदान देत असतात.कोणालाही पैसे मागीतले जात नाहीत. हे सर्व स्वामी येथे घडवुन आणत असतात.

    </blockquote>
  </div>

{% endblock %}