{% extends 'basehtml.html' %}
{% load static %}
{% block content %}

  <div >
    <nav>
    <ul>
        <a href="{% url 'm_home' %}"><b>मुख्य पान  </b> </a>
        <a href="{% url 'annadan' %}"><b> अन्नदान   </b></a>
        <a href="{% url 'sahitya' %}"><b> साहित्य  </b></a>
        <a href="{% url 'registerpage' %}"><b> नोंदणी करा  </b></a>
    </ul>
    </nav>
  </div>
  <div>
        {% for i in messages%}
      <p style=" color:red"> <b> {{i}} </b> </p>
        {% endfor %}
   </div>

  <div>
      {% if function1 == 'code' %}
          <form action="{% url 'fp_verify_code' %}" method="POST">
              {% csrf_token %}
              <label> ई-मेल वर आलेला ४ अंकी  कोड :</label><br><br>
              <input type="text" placeholder="code" name="ecode" pattern="[0-9]{4}"><br><br>
              <input type="hidden" name=recode_m value={{recode_m}}>
              <input type="hidden" name=fp_mobile value={{fp_mobile}}>
              <button type="submit"> Verify Code </button><br>
          </form><br>
      {% endif %}

      {% if function2 == 'set password' %}
          <form action="{% url 'fp_check_password' %}" method="POST">
              {% csrf_token %}
              <label>नवीन पासवर्ड सेट करा : </label><br><br>
              <input type="password" name="password1" placeholder="password"><br><br>
              <input type="password" name = "password2" placeholder="re-enter password"><br><br>
              <input type="hidden" name=fp_mobile value={{fp_mobile}}>
              <button type="submit">Save</button>
          </form><br>
      {% endif %}
  </div>

{% endblock %}