{% extends 'basehtml.html' %}
{% load static %}
{% block content %}

  <div>
    <nav>
      <ul>
        <a href="{% url 'annadan' %}"><b> अन्नदान   </b></a>
        <a href="{% url 'sahitya' %}"><b> साहित्य </b></a>
        <a href="{% url 'registerpage' %}"><b> नोंदणी करा   </b></a>
        <a href="{% url 'loginpage' %}"><b> लॉगिन  करा   </b></a>
      </ul>
    </nav>
  </div>
  <div>
      <img src="{% static 'images\Gurushisya_mainpage.jpeg' %}" style="max-width:100%;height:auto;">
      <blockquote>
        जग प्रत्येक सेकंदाला बदलत राहते. आजच्या जगात प्रत्येक मनुष्य दैनंदिन जीवनातील नव-नवीन आव्हानांना सामोरे जात आहे.
        आपल्या संस्कृतीनुसार नैतिकतेवर आधारित जीवन जगणे हे अजिबात सोपे नाही आणि काही वेळा आपण कोणत्या समस्यांमध्ये अडकले की अशा परिस्थितीमध्ये नेमके काय करावे हे पूर्णपणे समजत नाही.<br><br>
        अशा परिस्थितीत आपल्याला आठवते ते म्हणजे आपले गुरुवर्य. आपले गुरुवर्य आपल्याला मार्गदर्शन करतात आणि योग्य मार्ग दाखवतात.
        गुरुवर्यांचे फक्त  शब्दच आपल्याला अशा परिस्थितीमध्ये धीर देतात आणि सांगतात की विशिष्ट समस्या सुटेल की नाही किंवा वेळ लागेल.<br><br>
        हे एक मार्गदर्शन आहे जे फक्त आपल्याला समजले जाऊ शकत नाही परंतु निश्चितपणे वेळेनुसार अनुभवता येते
        आपण गुरुवर्य यांच्या मार्गदर्शनाप्रमाणे एक विशिष्ट गोष्ट घडताना पाहतो.<br><br>
        मार्गदर्शन पूर्णपणे विनामूल्य आहे आणि कोणत्याही स्वरूपात आधी किंवा नंतर कोणतेही शुल्क आकारले जात नाही.
        लोकांना मार्गदर्शन करणे आणि त्यांचे जीवन सुखी करणे हाच एकमेव हेतू आहे.
      </blockquote>

  </div>

{% endblock %}