{% extends 'basehtml.html' %}
{% load static %}
{% block content %}

  <div >
    <nav>
    <ul>
        <a href="{% url 'm_home' %}"><b>मुख्य पान  </b> </a>
        <a href="{% url 'annadan' %}"><b> अन्नदान   </b></a>
        <a href="{% url 'sahitya' %}"><b> साहित्य  </b></a>
        <a href="{% url 'registerpage' %}"><b> नोंदणी करा  </b></a>
    </ul>
    </nav>
  </div>
  <div>
        {% for i in messages%}
      <p style=" color:red"> <b> {{i}} </b> </p>
        {% endfor %}
   </div>

  <div>
         <form action="{% url 'applogin' %}" method="post">
              {% csrf_token %}
              <label for="pmobile" > लॉगिन विथ मोबाईल नंबर  :</label><br><br>
              <input type="tel" id="pmobile" name=mobile1 size="20" placeholder="mobile number" pattern ="[0-9]{10}"  required/><br><br>
              <label for="ppassword"> पासवर्ड :</label><br><br>
              <input type="password" id="ppassword"name="password" size="20" placeholder="password" required> <br><br>
              <input type="submit">
         </form>
  </div>
  <div>
          <form  action= "{% url 'forgot_password' %}" method="post">
              {% csrf_token %} <br><br>
               <button type="button" onclick="mobile_no_fp()" >Forgot Password </button>
               <br><br><label id="l1" style="visibility:hidden">कृपया रजिस्टर्ड मोबाईल नंबर द्या </label><br><br>
               <input type="tel" id="textbox" name="fp_mobile" style="visibility:hidden" pattern ="[0-9]{10}" placeholder="mobile number"><br><br>
               <input type="submit" id="b1" style="visibility:hidden">

          </form> <br>
  </div>
    <script>
         function mobile_no_fp()
         {
              document.getElementById("textbox").style.visibility = "visible";
              document.getElementById("l1").style.visibility = "visible";
              document.getElementById("b1").style.visibility = "visible";
              document.getElementById("textbox").required = "True";
         }
    </script>

{% endblock %}