{% extends 'basehtml.html' %}
{% load static %}
{% block content %}

  <div >
    <nav>
    <ul>
        <a href="{% url 'home' %}"><b>मुख्य पान  </b> </a>
        <a href="{% url 'annadan' %}"><b> अन्नदान   </b></a>
        <a href="{% url 'sahitya' %}"><b> साहित्य  </b></a>
        <a href="{% url 'loginpage' %}"><b> लॉगिन  करा  </b></a>
    </ul>
    </nav>
  </div>

  <div>
       <p style="background-color:white">&nbsp &nbsp प्रश्न करण्या ची माहिती ,पद्धत  व नियम खाली दिल्या प्रमाणे आहे , कृपया ते वाचावे </p>
       <blockquote>
          गुरुमार्गदर्शन संस्था लोकांना मानवी समस्यांवर आध्यात्मिक मार्गदर्शनाची सोय उपलब्ध करुन देते.
          प.पु.गुरुवर्यांचे मार्गदर्शन हे आध्यात्मिक शक्तींवर आधारीत असते.
          एखादी समस्या सुटेल किंवा नाही किंवा त्यामध्ये वेळ लागेल नेमके उत्तर प.पु.गुरुवर्य देत असतात.
          या मार्गदर्शनामध्ये गुरुवर्य लोकांना समस्या निवारणासाठी आध्यात्मातील उपाय पण देतात तसेच या समस्येची मुळ कारणे सुध्दा सांगतात.
          यासाठी प्रश्नोत्तरे स्वरुपात प.पु.गुरुवर्य आणि प्रश्नकर्त्याचा प्रत्यक्ष संवाद होतो मग तो ऑनलाईन किंवा ऑफलाईन असु शकतो.
          <br>
          गुरुमार्गदर्शन संस्थेकडुन नियोजनबध्द रित्या मानव कल्याणासाठी हे आध्यात्मिक मार्गदर्शन शिबीर विनामुल्य केंद्रनिहाय आपल्या प्रशिक्षित उच्चविद्याविभुषीत
          सेवा देणारे सेवेकरी प्रतिनिधींच्या माध्यमातुन आयोजीत करत असते.
          <br>
          प.पु.गुरुवर्यांनी सांगीतलेले उपाय केंद्रनिहाय सेवेकरी प्रतिनिधी समजावुन सांगतात तसेच लागणारे साहीत्य गुरुमार्गदर्शन संस्थेकडुन पुरवले जाते.
          संस्थेच्या वेबसाईटवर आवश्यक तितक्याच साहीत्याची माहीती देण्यात आलेली आहे.
          <br>
          जर आपल्याला संस्थेमार्फत उपलब्ध आध्यात्मिक मार्गदर्शन घ्यायचे असेल तर पुढील अटी व शर्ती आपण मान्य करुन सहमती दर्शवावी,ही विनंती.
          <br><br>
          अटी व शर्ती पुढीलप्रमाणे आहेत-
           <li>1.माझ्या वैयक्तीक समस्येवर आध्यात्मिक मार्गदर्शन संस्थेकडुन घेण्यासाठी मी स्वतःच्या इच्छेने प्रश्न विचारत आहे.</li>
           <li>2.दिलेले उपाय केल्यावरही माझी समस्या न सुटल्यास माझी कोणतीही हरकत राहणार नाही.</li>
           <li>3.प.पु.गुरुवर्यांचे मिळणारे मार्गदर्शन हा मानवाचे कल्याणासाठी असुन माझा त्यावर कोणताही आक्षेप राहणार नाही.</li>
           <li>4.मला मिळणारे साहीत्य ही संस्थेकडुन केलेली फक्त माझी सोय असुन कोणताही व्यावसायीक उद्देश त्यामध्ये नाही हे मला मान्य आहे.</li>
           <li>5.हे मार्गदर्शन मला विनामुल्य मिळत असल्याची पुर्ण खात्री करुनच माझा प्रश्न मी स्वखुशीने मांडणार आहे.</li>

           <li>6.संस्थेच्या संपर्क प्रतिनिधींना मी स्वतःच संपर्क करुन माझा प्रश्न घेण्यासाठी स्वतःच विनंती केलेली असुन संबंधित संपर्क प्रतिनिधीसोबत
               झालेल्या संवादानंतर माझा प्रश्न मांडत आहे.</li>

           <li>7.माझ्यावर संस्थेच्या कोणत्याही व्यक्तीकडुन कधीही कसलाही दबाव नाही.</li>
       </blockquote>

       <p style="background-color:white">&nbsp &nbsp वरील माहिती स्वीकृत असेल तर, कृपया  <b>नोंदणी करा </b> हे बटण क्लिक करा   </p>
       <a href="{% url 'register' %}" style ="background-color:rgb(150,150,150);margin:15px;color:white;padding:15px 25px;text-align:center; text-decoration:none;
   display:inline-block;"><b>नोंदणी करा </b> </a>

  </div>


{% endblock %}