{% extends 'basehtml.html' %}
{% load static %}
{% block content %}
  <h3>{{user_details.first_name}} आपले स्वागत आहे admin page </h3>
  <a href=" {% url 'logout' %} "><b> &nbsp &nbsp लॉगऑऊट </b> </a><br><br>
  <div>
        {% for i in messages%}
        <h3 style="padding-left: 80px; color:green">  {{i}}  </h3>
        {% endfor %}
  </div>

{% if function2 == 'ds' %}
             {% for i in display_seva %}
                {{i}}<br>
             {% endfor %}
             {% for i in pending_list %}
                {{i}}<br>
             {% endfor %}
         {% endif %}

{% endblock %}