{% extends 'basehtml.html' %}
{% load static %}
{% block content %}
  <h3>{{user_details.first_name}} आपले स्वागत आहे </h3>
  <a href=" {% url 'logout' %} "><b> &nbsp &nbsp लॉगऑऊट </b> </a><br><br>
  <a href = "{%%}"
  <div>
        {% for i in messages%}
        <h3 style="padding-left: 80px; color:green">  {{i}}  </h3>
        {% endfor %}

  </div>

    {% if function1 == 'display questions' %}
               <form action="{% url 'view_seva' %}" method="post">
          	      {% csrf_token %}
                  <div  class="divScroll" style="border-style: double">
                  <div id="table-responsive5">

                   <table >
                     <Caption><b> तुम्ही विचारलेले प्रश्न यादी   </b> </caption>
                     <thead>
	                   <tr>
			         	  <th scope="col">Select</th>
                          <th scope="col">Date Filled</th>
	                      <th scope="col">Session ID</th>
                          <th scope="col">Prashan1</th>
	                      <th scope="col">Prashan2</th>
                          <th scope="col">Status</th>
                      </tr>
                     </thead>
                     <tbody>
                        {% for i in pk_table %}
                           <tr>
                               <td><input type="radio" id="id14" name="select_session_id" value={{i.session_id}} required></td>
			                   <td>{{i.Date_filled}}</td>
                               <td>{{i.session_id}}</td>
                               <td>{{i.prashan1}}</td>
                               <td>{{i.prashan2}}</td>
                               <td>{{i.status}}</td>
                           </tr>
                        {% endfor %}
                     </tbody>
                   </table>
                  </div>
                  </div>
                  <br><br>
                  <p>** <b>वरील पैकी प्रश्न सिलेक्ट करून , सिलेक्ट प्रश्न बटन वर क्लिक करा </b> **</p>
                  <div>
                       <input type="hidden" name="user" value={{user_details.id}}><br>
                       <button type="submit" name=b2 > सिलेक्ट प्रश्न </button>
                  </div>
               </form>
    {% endif %}
    {% if function2 == 'user_seva_display' %}
             <form action="{% url 'update_seva' %}" method="post">
                 {% csrf_token %}
                 <label>प्रश्नकर्त्याचे नाव :</label>{{dic1.pname}}<br><br>
                 <label > प्रश्न १ :</label>{{dic1.prashan1}}<br><br>
                 <label > प्रश्न २ </label>{{dic1.prashan2}}<br><br><br>

                 <p>** <b> खालीलपैकी ज्या सेवा पूर्ण झाल्या असतील, त्या सेवेचे स्टेटस अपडेट करून , सेव्ह बटण वर क्लिक करा </b> **</p>
                   <div>
                      <input type="hidden" name="user" value={{user_details.id}}>
                      <input type="hidden" name="seva_id" value={{sd.seva_id}}>
                      <button type="submit" name=b2 > सेव्ह  करा    </button><br>
                   </div>

                 <br><label ><b> सेवा स्टेटस </b> :</label>&nbsp{{sd.seva_status}}<br><br>
                 <label > <b>अनुभव :</b> </label>&nbsp <select id = status16 name="anubhav_status">
                 {% if sd.anubhav %} <option value="True" style="color:green " selected> अनुभव आला आहे </option>
                 <option value="False" style="color:red" > अनुभव आला नाही </option>
                 {% else %} <option value="False" style="color:red" selected> अनुभव आला नाही</option>
                 <option value="True" style="color:green" > अनुभव आला आहे </option>{% endif %}</select><br><br>

                 {% if sd.seva1 %} {{sd.seva1}} &nbsp
                       <select id = status1 name="sevastatus1">
                           {% if sd.status1 == True %} <option value="True" selected> सेवा पूर्ण </option>
                           <option value="False" > सेवा अपूर्ण </option>
                           {% else %}
                           <option value="False" selected> सेवा अपूर्ण </option>
                           <option value="True" > सेवा पूर्ण </option> {% endif %}</select><br><br>
                 {% else %}
                       <input type="hidden" name="sevastatus1" value="True"> {% endif %}
                 {% if sd.seva2 %} {{sd.seva2}} &nbsp
                       <select id = status2 name="sevastatus2">
                           {% if sd.status2 == True %} <option value="True" selected> सेवा पूर्ण </option>
                           <option value="False" > सेवा अपूर्ण </option>
                           {% else %}
                           <option value="False" selected> सेवा अपूर्ण </option>
                           <option value="True" > सेवा पूर्ण </option>{% endif %} </select> <br><br>
                 {% else %}
                       <input type="hidden" name="sevastatus2" value="True"> {% endif %}
                 {% if sd.seva3 %} {{sd.seva3}} &nbsp
                       <select id = status3 name="sevastatus3">
                           {% if sd.status3 == True %} <option value="True" selected> सेवा पूर्ण </option>
                           <option value="False" > सेवा अपूर्ण </option>
                           {% else %}
                           <option value="False" selected> सेवा अपूर्ण </option>
                           <option value="True" > सेवा पूर्ण </option>{% endif %}</select> <br><br>
                 {% else %}
                       <input type="hidden" name="sevastatus3" value="True" > {% endif %}
                 {% if sd.seva4 %} {{sd.seva4}} &nbsp
                       <select id = status4 name="sevastatus4">
                           {% if sd.status4 == True %} <option value="True" selected> सेवा पूर्ण </option>
                           <option value="False" > सेवा अपूर्ण </option>
                           {% else %}
                           <option value="False" selected> सेवा अपूर्ण </option>
                           <option value="True" > सेवा पूर्ण </option>{% endif %}</select> <br><br>
                 {% else %}
                       <input type="hidden" name="sevastatus4" value="True"> {% endif %}
                 {% if sd.seva5 %} {{sd.seva5}} &nbsp
                       <select id = status5 name="sevastatus5">
                           {% if sd.status5 == True %} <option value="True" selected> सेवा पूर्ण </option>
                           <option value="False" > सेवा अपूर्ण </option>
                           {% else %}
                           <option value="False" selected> सेवा अपूर्ण </option>
                           <option value="True" > सेवा पूर्ण </option>{% endif %}</select> <br><br>
                 {% else %}
                       <input type="hidden" name="sevastatus5" value="True"> {% endif %}
                 {% if sd.seva6 %} {{sd.seva6}} &nbsp
                       <select id = status6 name="sevastatus6">
                           {% if sd.status6 == True %} <option value="True" selected> सेवा पूर्ण </option>
                           <option value="False" > सेवा अपूर्ण </option>
                           {% else %}
                           <option value="False" selected> सेवा अपूर्ण </option>
                           <option value="True" > सेवा पूर्ण </option>{% endif %} </select> <br><br>
                 {% else %}
                       <input type="hidden" name="sevastatus6" value="True"> {% endif %}
                 {% if sd.seva7 %} {{sd.seva7}} &nbsp
                       <select id = status7 name="sevastatus7">
                           {% if sd.status7 == True %} <option value="True" selected> सेवा पूर्ण </option>
                           <option value="False" > सेवा अपूर्ण </option>
                           {% else %}
                           <option value="False" selected> सेवा अपूर्ण </option>
                           <option value="True" > सेवा पूर्ण </option>{% endif %} </select> <br><br>
                 {% else %}
                       <input type="hidden" name="sevastatus7" value="True"> {% endif %}
                  {% if sd.seva8 %} {{sd.seva8}} &nbsp
                       <select id = status8 name="sevastatus8">
                           {% if sd.status8 == True %} <option value="True" selected> सेवा पूर्ण </option>
                           <option value="False" > सेवा अपूर्ण </option>
                           {% else %}
                           <option value="False" selected> सेवा अपूर्ण </option>
                           <option value="True" > सेवा पूर्ण </option>{% endif %} </select> <br><br>
                 {% else %}
                       <input type="hidden" name="sevastatus8" value="True"> {% endif %}

                 {% if sd.seva9 %} {{sd.seva9}} &nbsp
                       <select id = status9 name="sevastatus9">
                           {% if sd.status9 == True %} <option value="True" selected> सेवा पूर्ण </option>
                           <option value="False" > सेवा अपूर्ण </option>
                           {% else %}
                           <option value="False" selected> सेवा अपूर्ण </option>
                           <option value="True" > सेवा पूर्ण </option>{% endif %} </select> <br><br>
                 {% else %}
                       <input type="hidden" name="sevastatus9" value="True"> {% endif %}

                  {% if sd.seva10 %} {{sd.seva10}} &nbsp
                       <select id = status10 name="sevastatus10">
                           {% if sd.status10 == True %} <option value="True" selected> सेवा पूर्ण </option>
                           <option value="False" > सेवा अपूर्ण </option>
                           {% else %}
                           <option value="False" selected> सेवा अपूर्ण </option>
                           <option value="True" > सेवा पूर्ण </option>{% endif %} </select> <br><br>
                 {% else %}
                       <input type="hidden" name="sevastatus10" value="True"> {% endif %}

                 {% if sd.seva11 %} {{sd.seva11}} &nbsp
                       <select id = status11 name="sevastatus11">
                           {% if sd.status11 == True %} <option value="True" selected> सेवा पूर्ण </option>
                           <option value="False" > सेवा अपूर्ण </option>
                           {% else %}
                           <option value="False" selected> सेवा अपूर्ण </option>
                           <option value="True" > सेवा पूर्ण </option>{% endif %} </select> <br><br>
                 {% else %}
                       <input type="hidden" name="sevastatus11" value="True"> {% endif %}
                  {% if sd.seva12 %} {{sd.seva12}} &nbsp
                       <select id = status12 name="sevastatus12">
                           {% if sd.status12 == True %} <option value="True" selected> सेवा पूर्ण </option>
                           <option value="False" > सेवा अपूर्ण </option>
                           {% else %}
                           <option value="False" selected> सेवा अपूर्ण </option>
                           <option value="True" > सेवा पूर्ण </option> {% endif %} </select> <br><br>
                 {% else %}
                       <input type="hidden" name="sevastatus12" value="True"> {% endif %}
                  {% if sd.seva13 %} {{sd.seva13}} &nbsp
                       <select id = status13 name="sevastatus13">
                           {% if sd.status13 == True %} <option value="True" selected> सेवा पूर्ण </option>
                           <option value="False" > सेवा अपूर्ण </option>
                           {% else %}
                           <option value="False" selected> सेवा अपूर्ण </option>
                           <option value="True" > सेवा पूर्ण </option> {% endif %} </select> <br><br>
                 {% else %}
                       <input type="hidden" name="sevastatus13" value="True"> {% endif %}
                  {% if sd.seva14 %} {{sd.seva14}} &nbsp
                       <select id = status14 name="sevastatus14">
                           {% if sd.status14 == True %} <option value="True" selected> सेवा पूर्ण </option>
                           <option value="False" > सेवा अपूर्ण </option>
                           {% else %}
                           <option value="False" selected> सेवा अपूर्ण </option>
                           <option value="True" > सेवा पूर्ण </option> {% endif %} </select> <br><br>
                 {% else %}
                       <input type="hidden" name="sevastatus14" value="True"> {% endif %}
                  {% if sd.seva15 %} {{sd.seva15}} &nbsp
                       <select id = status15 name="sevastatus15">
                           {% if sd.status15 == True %} <option value="True" selected> सेवा पूर्ण </option>
                           <option value="False" > सेवा अपूर्ण </option>
                           {% else %}
                           <option value="False" selected> सेवा अपूर्ण </option>
                           <option value="True" > सेवा पूर्ण </option>{% endif %} </select> <br><br>
                 {% else %}
                       <input type="hidden" name="sevastatus15" value="True"> {% endif %}


              </form>
    {% endif %}
    {% if function2 == 'multiple_seva_id' %}

           <form action = "{% url 'view_selectedsevaid' %}" method="post">
          	      {% csrf_token %}
                  <div  class="divScroll" style="border-style: double">
                  <div id="table-responsive6">

                   <table >
                     <Caption><b> तुमच्या रिपीट प्रश्नाकरिता दिलेल्या सेवा  </b> </caption>
                     <thead>
	                   <tr>
			         	  <th scope="col">Select</th>
                          <th scope="col">Date Filled</th>
	                      <th scope="col">Seva ID</th>
                          <th scope="col">Prashan1</th>
	                      <th scope="col">Prashan2</th>

                      </tr>
                     </thead>
                     <tbody>
                        {% for i in sd %}
                           <tr>
                               <td><input type="radio" id="id16" name="seva_id" value={{i.seva_id}} required></td>
			                   <td>{{i.date_qa}}</td>
                               <td>{{i.seva_id}}</td>
                               <td>{{dic1.prashan1}}</td>
                               <td>{{dic1.prashan2}}</td>
                           </tr>
                        {% endfor %}
                     </tbody>
                   </table>
                  </div>
                  </div>
                  <br><br>
                  <p>** <b> वरील यादीपैकी जी सेवा हवी आहे ती सिलेक्ट करा  </b> **</p>
                  <div>
                       <input type="hidden" name="session_id" value={{session_id}}><br>
                       <input type="hidden" name="user" value={{user_details.id}}><br>
                       <button type="submit" name=b2 > सिलेक्ट सेवा </button>
                  </div>
           </form>
    {% endif %}


{% endblock %}